.tabContainer {
  padding: 10px;
}
.controlPanel {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 24px;
}
.controlPanelFilters {
  display: flex;
}
.controlPanelElement {
  margin-right: 10px;
}
